.input-style {    
    label {
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: 400;
        color: $text-1;        
        display:inline-flex;
        margin-bottom: 0;
        white-space: nowrap;
        text-transform: capitalize;
        span{
            font-size: 1.6rem;
            line-height: 1.6rem;
            position: relative; 
            top: 0;            
            color: #FF0000 !important;
        }
    }
    .ctm-input {
        font-size: 1.6rem;
        font-weight: 400;
        color: $gray-600;               
        width: 100%;
        outline: none;        
        padding: 0 .5rem; 
        border: 0;       

        &::placeholder{            
            color: $gray-900;
        }
    }

    textarea.ctm-input {
        min-height: 10.5rem;
    } 
    
    .ctm-textarea{
        font-size: 1.6rem;
        font-weight: 400;
        color: $gray-600;
        height: 13.0rem;        
        width: 100%;
        outline: none;        
        padding: .5rem;
        resize: none;

        &::placeholder{
            
            color: $gray-900;
        }
    }
    .btn-marker{
        border-radius: 0 10px 10px 0;
        i{
            color: $white;
            font-size: 20px;
            &.fa-map-marker-alt{
                font-size: 20px !important;
            }
        }
    }

    .type-pass {
        position: relative;
        width: 100%;
        .ctm-input {
            padding: 2px 4rem 2px .5rem;
        }
        &.address-field {
            > input {
                cursor: pointer;
            }
        }
        .icon-eye {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            height: 5rem;
            width: 5rem;
            cursor: pointer;
            color: $gray-900;
            text-align: center;
            font-size: 2rem;
            @include flex-center;            
            transition: .4s ease-in-out;  
            justify-content: flex-end;          
            i{
                font-size: 16px;
            }
        }
    }

    
    .select2-selection{
        font-size: 1.6rem;
        font-weight: 400;
        color: $gray-900;
        height: 2.5rem;        
        width: 100%;
        outline: none;        
        padding: .5rem;
        border-radius: 0 !important;
        border: 0 !important;
        display: flex;
        align-items: center;


        &::placeholder{            
            color: $gray-900;
        }
        .select2-selection__rendered{
            line-height: 60px;
            color: $gray-900;
            padding: 0;
        }
        .select2-selection__arrow > b{
            display: none;
        }
    }
    .select2-selection__arrow{        
            position: absolute;
            z-index: 9;
            right: 0 !important;
            top: 50% !important;
            pointer-events: none;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            background-image: url("../images/select-arrow.png");
            background-position: center;
            background-repeat: no-repeat;                    
    }
}

// rtl
.rtl .input-style {
    .type-pass {
        .ctm-input {
            padding: 2px .5rem 2px 4rem;
        }
        .icon-eye {
            right: auto;
            left: 0px;
        }
    }
}

// .select2-container {        
//     width: 100% !important;  
// }


.manage-add-page {
    .select2-container {        
        z-index: 9999;      
    }
}
// rtl


// custom check box
.custom-check {
    display: block;
    position: relative;
    padding-left: 3.2rem;
    margin-bottom: 0px;
    cursor: pointer;
    user-select: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: $text-1;
    line-height: 2.3rem;



    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 2.2rem;
        width: 2.2rem;
        background-color: none;
        border:1px solid $text-1;
        border-radius: 2px;
    }

    /* On mouse-over, add a grey background color */
    // &:hover input~.checkmark {
    //     background-color: #ccc;
    // }

    /* When the checkbox is checked, add a blue background */
    input:checked~.checkmark {
        background-color: $primary;
        border:1px solid $primary;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
        left: 0.65rem;
        top: 0.2rem;
        width: 0.7rem;
        height: 1.2rem;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}


// .rtl
.rtl{
    .custom-check {
        padding-left: 0;
        padding-right: 3.2rem;
        /* Create a custom checkbox */
        .checkmark {
            left: auto;
            right: 0;
        }
        /* Style the checkmark/indicator */
        .checkmark:after {
            left: auto;
            right: 0.7rem;
        }
    }
    .custom-radio{
        padding-left: 0;
        padding-right: 2.6rem;
    }
    .custom-radio .checkmark {
        left: auto;
        right: 0;
    }
}

// .rtl
// custom check box

/********************************************/
// custom Radio
.custom-radio{
   
        display: block;
        position: relative;
        padding-left: 2.6rem;
        margin-bottom: 0;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        font-size: 1.6rem;
        font-weight: 400;
        color: $gray-700;
        line-height: 1.9rem;
     
      
      /* Hide the browser's default radio button */
       input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      
      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 2rem;
        width: 2rem;
        background-color: $white;
        border-radius: 50%;
        border: 1px solid $gray-700
      }
      
      /* On mouse-over, add a grey background color */
    //   &:hover input ~ .checkmark {
    //     background-color: #ccc;
    //   }
      
      /* When the radio button is checked, add a blue background */
      input:checked ~ .checkmark {
        border: 1px solid $primary;
      }
      
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the indicator (dot/circle) when checked */
       input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the indicator (dot/circle) */
       .checkmark:after {
          top: 50%;
          left: 50%;
          transform: translate(-50% , -50%);
          width: .9rem;
          height: .9rem;
          border-radius: 50%;
          background: $primary;
      }
}


// Pass-title
.pass-title{
    font-size: 2rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 1.2rem;
}
// Pass-title

// size radio
.size-radio{
    display: block;
    position: relative;
    height: 4rem;
    width: 4rem;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin: 0rem;
    margin-right: 1rem;
    &:last-child{
        margin-right: 0rem;
    }
  
  /* Hide the browser's default radio button */
   input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: none;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0rem;
    left: 0;
    background-color: $white;
    width: 100%;
    height: 100%;
    border: 1px solid $black;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  /* When the radio button is checked, add a blue background */
  input:checked ~ .checkmark {
    background: $secondary;
    color: $white;
    border: 1px solid $secondary;
  }
}
.rtl{
    .size-radio{
        margin-right: 0rem;
        margin-left: 1rem;
        &:last-child{
            margin-right: 0rem;
            margin-left: 1rem;
        }      
    }
}
// size radio



// color radio
.color-radio{
    display: block;
    position: relative;
    height: 4rem;
    width: 4rem;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin: 0rem;
    margin-right: 1rem;
    &:last-child{
        margin-right: 0rem;
    }
  
  /* Hide the browser's default radio button */
   input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: none;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0rem;
    left: 0;
    background-color: $white;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    img{
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
  }
  /* When the radio button is checked, add a blue background */
  input:checked ~ .checkmark {
    background: $secondary;
    color: $white;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    left: 1.5rem;
    top: 0.8rem;
    width: 0.6em;
    height: 2.1rem;
    border: solid white;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}
}

.rtl{
    .color-radio{
        margin-right: 0rem;
        margin-left: 1rem;
        &:last-child{
            margin-right: 0rem;
            margin-left: 1rem;
        }      
    }
}
// select2 


.select2-dropdown {
    border-radius: 1rem !important;
    border: 0 !important;
    background-color: $white;
    box-shadow: 0 0 6px rgba($black,.16);
    overflow: hidden;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: $text-e !important;
    outline: 0 !important;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    color: $gray-900;
    font-weight: 300;
    font-size: 1.6rem;
    height: 3rem;
    border-radius: 1rem;
}
.select2-results__option {
    padding: 8px 14px;
    font-size: 1.6rem;
    font-weight: 300;
    color: $gray-900;
    &:hover {
        background-color: $primary !important;
    }
    &.select2-results__option--selected {
        background-color: $text-1;
        color: $white;
    }

}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: $text-1;
    color: $white;
}

// rtl
.rtl {
    .input-style .select2-selection__arrow {
        right: auto !important;
        left: 0;
    }
    .input-style {
        .type-pass {
            .ctm-input {
                padding: 2px .5rem 2px 4rem;
            }
            .icon-eye {
                right: auto;
                left: 0px;
            }
        }
        .ctm-input {
            direction: ltr;
            text-align: right;
        }
    }
} 

.error {
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-block;    
    color: #dc3545!important;
    padding-left: .7rem;
    padding-right: .7rem;  
    line-height: 1.6rem;  
}
.gothic-normel.text-danger {
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-block;    
    color: #dc3545!important;
    padding-left: .7rem;
    padding-right: .7rem;  
    line-height: 1.6rem;  
}
.upload-sec + .error {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.gap-2x {
    gap: 0 2rem;
}


.address-input {
    cursor: pointer;
}

// switch button 

.switch {
    position: relative;
    display: inline-block;
    width: 3.7rem;
    height: 2.2rem;
    margin-bottom: 0;
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $text-1;
        transition: background-color .2s ease-out;
        &::before {
            position: absolute;
            content: "";
            height: 1.8rem;
            width: 1.8rem;
            left: 3px;
            top: 2px;           
            background-color: white;
            transition: 0.4s;
        }
    }
    .slider.round {
        border-radius: 34px;
    }
    input:checked + .slider {
        background-color: $primary;
    }
    input:checked + .slider:before {
        transform: translateX(1.3rem);
    }
    .slider.round:before {
        border-radius: 50%;
    }
}  

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


// right direction css

.rtl {
    .input-style .select2-selection {
        justify-content: flex-end;
    }
}