
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 555px;
        margin: 1.75rem auto;
    }
}



.ctm-modal {
    padding: 0 !important;
    
    .modal-content {
        border-radius: 1rem;
        padding: 3rem;
        border: 0;
        @include media-max(450px) {
            padding: 2rem;
            margin: 2rem;
        }
        .auth-title {
            @include Font(2.6rem,bold,3.2rem,$text-1,$product-sans);
            text-transform: capitalize;
        }
        .input-style textarea.ctm-input {
            min-height: 6.5rem;
        }
    }
    .modal-logo-block {
        margin-bottom: 4.8rem;
        max-width: 23.6rem;
        width: 100%;
        height: 19.3rem;
        overflow: hidden;
        @include flex-center;
    }
    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 4rem;
        height: 4rem;
        background-color: $primary;
        @include flex-center;
        @include transition;
        border-radius: .5rem;
        svg {
            path {
                fill: $white;
            }
        }
        &:hover {
            background-color: $text-1;
            
        }
    }
    .stars-block {
        .title {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.1rem;
            color: $text-3;
            margin-bottom: 1rem;
        }
        // .rating-add-mt .rating > label {
        //     color: $text-d;
        // }
        .rating-add-mt .rating > label:before {
            font-size: 2.5rem;
        }
    }
    &.map-modal {
        // z-index: 9999;
        background-color: rgba($black,.8);

        .map-wrap {
            max-width: 50rem;
            height: 400px;
            margin-bottom: 2rem;
            background-color: $gray-100;
            @include media-max(450px){
                height: 320px;
            }
            .map-content {
                width: 100%;
                height: 100%;                
            }
        }        
    }
    &.gallery-modal {
        z-index: 9999;
        background-color: rgba($black,.8);
        .modal-content {
            background-color: transparent
        }
        .gal-modal-card {
            @include card(100%,72.9rem,3rem,start);
            overflow: hidden;
            background-color: $gray-100;
            > img {
                @include img-placeholder(cover,center);
            }
            @include media-max(450px){
                height: 44.9rem;
            }
            @include media-max(325px){
                height: 40.9rem;
            }
        }
        .slides-block {
            .slide-no {
                @include Font(2.4rem,400,2.9rem,$white,$product-sans);
            }
        }
        .close-btn {
            right: -1rem;
            top: -1rem;
        }
    }
}

.modal-title {
    @include Font(2.6rem,bold,3.2rem,$text-1,$product-sans);
    text-align: center;
    border-bottom:1px solid $text-e;
    padding-bottom: 2.05rem;
    margin-bottom: 3.25rem;
}

// image gallery modal



@media (min-width:991px){
    .gallery-modal .modal-dialog{
        max-width: 719px;
    }
}


// right direction css

.rtl {
    .ctm-modal .close-btn {
        right: auto;
        left: 0;
    }
    .ctm-modal.gallery-modal .close-btn {
        right: auto;
        left: -1rem;
    }
}

.payment-ul {
    .items {
        &:not(:last-child){
            border-bottom:1px solid $text-e;
        }
        > a, > button {
            height: 6rem;
            background-color: $white;
            @include flex-box(flex,row,start,center);
            @include transition;
            @include Font(1.6rem,400,1.9rem,$text-1,$product-sans);
            padding: 2rem;
            width: 100%;
            &:hover, &.active {
                background-color: $text-e;
            }
        }
    }
}

