footer {
    height: 30rem;
    background-color: $black;
    
    @include flex-center;
    margin-bottom: 5rem;
    h1 {
        text-transform: uppercase;
        color: $white;
        font-size: 6rem;
        text-align: center;
    }
}