/*======================================== 
Custom  
========================================*/
* {
    margin: 0px;
    padding: 0px;
}
.clearfix {
    clear: both;
}
body{
    background-color: #fff;
    margin: 0;
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    // user-drag: none;
    // min-height: 100;
}
.ltr {
    direction: ltr !important;
    text-align: left;
}
.bg-none{
    background-image: none !important;
}
a {
    color: $secondary;
    text-decoration: none;
    &:hover, &:active, &:focus{
        color:$primary;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  background-color: transparent;
  border: 0;
  outline: 0;
}

button{
  &:focus {
    outline: 0;
  }
}

.primary-colorBg{
  background-color: $primary;
  color: $white;
}
.primary-color{
  color: $primary;
}


html {
  font-size: 10px;
  font-family: 'Product Sans' !important;
  overflow-x: hidden;
  @include media-max(767px){
    font-size: 9px;
  }
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  font-family: 'Product Sans' !important;
  overflow-x: hidden;
}


.rtl {
  text-align: right;
  direction: rtl;
}

.mw-auto {
  width: auto !important;
}

  .container{
    @include media-min(1200px){
      max-width: 1170px;
    }
  }
  .container-max {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    @include media-min(1500px){
      max-width: 1470px; 
      width: 100%;     
    }
    @include media-max(1440px){
      max-width: 1400px;
    }
    @include media-max(1200px){
      max-width: 1170px;
    }
  }

  .col-xs-6 {
    @include media-max(575px){
      max-width: 50%;
    }
    @include media-max(450px){
      max-width: 100%;
    }
  }

  // open sans font

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


  // Roboto font

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');