@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        color: $color;
        font-family: $avenir-l !important;
    }
    &::-moz-placeholder {
        color: $color;
        font-family: $avenir-l !important;
    }
    &:-ms-input-placeholder {
        color: $color;
        font-family: $avenir-l !important;
    }
    &:-moz-placeholder {
        color: $color;
        font-family: $avenir-l !important;
    }
}

// background image cennter

@mixin bg-img-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
Flex Properties */

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin d-alignmiddle {
    display: inline-flex;
    display: -moz-inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}

@mixin d-contentEnd {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    flex-wrap: wrap;
    flex-wrap: -moz-wrap;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
}
@mixin d-wrapcol {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
}

@mixin transition {
    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-box($inline-or-flex, $Y-value, $X-value) {
    display: $inline-or-flex;
    // flex-direction: $direcrion;
    justify-content: $X-value;
    align-items: $Y-value;
}

<<<<<<< HEAD
@mixin Font($size, $weight, $line,$transdorm, $color, $family) {
=======
@mixin Font($weight, $size, $line, $color) {
>>>>>>> ecf4e13a117a1e22223d2ddbed79691311403712
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
    color: $color;
    text-transform: $transdorm;
}
@mixin bg-img($bg-size, $bg-position, $bg-repeat) {
    background-position: $bg-position;
    background-size: $bg-position;
    background-repeat: $bg-repeat;
}
@mixin bg-center {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin card($width, $height, $radius, $position) {
    @include flex-center;
    max-width: $width;
    height: $height;
    width: 100%;
    overflow: hidden;
    border-radius: $radius;
    position: $position;
}
@mixin card-noflex($width, $height, $radius, $position) {
    max-width: $width;
    height: $height;
    width: 100%;
    overflow: hidden;
    border-radius: $radius;
    position: $position;
}

@mixin img-placeholder($obj-fit, $obj-pos) {
    height: 100%;
    width: 100%;
    background-color: $gray-100;
    object-fit: $obj-fit;
    object-position: $obj-pos;
}

@mixin button($btn-width, $btn-height, $btn-radius, $bf-color, $btn-size, $btn-clr, $bg-clr, $border) {
    max-width: $btn-width;
    height: $btn-height;
    border-radius: $btn-radius;
    font-size: $btn-size;
    color: $btn-clr;
    background-color: $bg-clr;
    border: $border;
    @include flex-center;
    width: 100%;
}

@mixin pos-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin position($pos, $left, $right, $top, $bottom, $tran-x, $tran-y) {
    position: $pos;
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
    transform: translateX($tran-x);
    transform: translateY($tran-y);
}

@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin scroll-bar-tp {
    /* width */
    ::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 5px;
    }
}

@mixin multiline-dots($lines) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: $lines;
}

@mixin primary-scroll {
    /* width */
    ::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background-color: $gray-500;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 10px;
    }
}

@mixin slider-reset {
    display: none;
    &.slick-slider {
        display: block;
    }
}
