
.ctm-pagination {
    @include media-max(450px) {
        justify-content: center !important;
    }
    .pagination {
        gap: 1.5rem;
        align-items: center;        
        .page-item {            
            &:first-child {
                padding-right: 1.5rem;
                @include media-max(450px){
                    padding-right: 0;
                }
            }
            &:last-child {
                padding-left: 1.5rem;
                @include media-max(450px){
                    padding-left: 0;
                }
            } 
            .prev-next-btn {
                @include Font(2rem,500,2.4rem,$text-1,$product-sans);
                @include transition;
                text-decoration: underline;
                &:hover,&.active {
                    color: $primary
                }  
                @include media-max(450px){
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    white-space: nowrap;
                }               
            }                      
            .page-link {  
                font-size: 2rem;
                font-weight: 400;
                color: $gray-700;
                line-height: 2.4rem;              
                border: 1px solid $gray-700;
                border-radius: 0;
                background-color: transparent;                
                box-shadow: unset;                
                width: 100%;                
                @include transition;
                @include card(5rem,5rem,1rem,static); 
                min-width: 5rem;  
                @include media-max(450px){
                    max-width: 4rem;
                    height: 4rem;
                    min-width: 4rem; 
                    font-size: 1.8rem;
                }            
                &.active, &:hover {
                    border-color: $primary;
                    color: $white;
                    background-color: $primary;

                }
                
            }
        }
    }
}

// right direction css

.rtl {
    .ctm-pagination .pagination .page-item {
        &:first-child {
            padding-right: 0;
            padding-left: 1.5rem;
            @include media-max(450px){
                padding-left: 0;
            }
        }
        &:last-child {
            padding-left: 0;
            padding-right: 1.5rem;
            @include media-max(450px){
                padding-right: 0;
            }
        }
    }
}