// simple each loop

$font-weights: (100,300,400,500,600,700,900);

@each $n in $font-weights {
    .weight-#{$n}{
        font-weight: $n;
    }
}

// multi list each loop

$parah-style: ((light,300,14px,18px,#000),(normal,400,1.8rem,2.2rem,#777),(medium,500,18px,#000),(bold,bold,2.2rem,2.7rem,#111));

@each $name,$weight,$size,$line-h,$color in $parah-style {
    .text-#{$name}{
        font-size: $size;
        font-weight: $weight;
        line-height: $line-h;
        color: $color;
    }
}

// map each loop

$map-weights: (lighter: 100,light: 300, normal: 400, medium: 500, samibold: 600, bold: 700, bolder: 900);

@each $name,$weight in $map-weights {
    .wt-#{$name}{        
        font-weight: $weight #{!important};        
    }
}