
$j : 5;
$max-val:100;

@while ($j <= $max-val) {

    .w-#{$j}{
        width: 1% * $j;
    }
    .min-w-#{$j}{
        min-width: 1% * $j;
    }
    .max-w-#{$j}{
        max-width: 1% * $j;
    }
    .h-#{$j}{
        height: 1% * $j;
    }
    .min-h-#{$j}{
        min-height: 1% * $j;
    }
    .max-h-#{$j}{
        max-height: 1% * $j;
    }
    
    @include media-min(1200px){
        .w-xxl-#{$j}{
            width: 1% * $j;
        }
        .min-w-xxl-#{$j}{
            min-width: 1% * $j;
        }
        .max-w-xxl-#{$j}{
            max-width: 1% * $j;
        }
        .h-xxl-#{$j}{
            height: 1% * $j;
        }
        .min-h-xxl-#{$j}{
            min-height: 1% * $j;
        }
        .max-h-xxl-#{$j}{
            max-height: 1% * $j;
        }
    }
    @include media-min(992px){
        .w-xl-#{$j}{
            width: 1% * $j;
        }
        .min-w-xl-#{$j}{
            min-width: 1% * $j;
        }
        .max-w-xl-#{$j}{
            max-width: 1% * $j;
        }
        .h-xl-#{$j}{
            height: 1% * $j;
        }
        .min-h-xl-#{$j}{
            min-height: 1% * $j;
        }
        .max-h-xl-#{$j}{
            max-height: 1% * $j;
        }
    }
    @include media-min(768px){
        .w-lg-#{$j}{
            width: 1% * $j;
        }
        .min-w-lg-#{$j}{
            min-width: 1% * $j;
        }
        .max-w-lg-#{$j}{
            max-width: 1% * $j;
        }
        .h-lg-#{$j}{
            height: 1% * $j;
        }
        .min-h-lg-#{$j}{
            min-height: 1% * $j;
        }
        .max-h-lg-#{$j}{
            max-height: 1% * $j;
        }
    }

    @include media-min(576px){
        .w-md-#{$j}{
            width: 1% * $j;
        }
        .min-w-md-#{$j}{
            min-width: 1% * $j;
        }
        .max-w-md-#{$j}{
            max-width: 1% * $j;
        }
        .h-md-#{$j}{
            height: 1% * $j;
        }
        .min-h-md-#{$j}{
            min-height: 1% * $j;
        }
        .max-h-md-#{$j}{
            max-height: 1% * $j;
        }
    }

    @include media-min(451px){
        .w-sm-#{$j}{
            width: 1% * $j;
        }
        .min-w-sm-#{$j}{
            min-width: 1% * $j;
        }
        .max-w-sm-#{$j}{
            max-width: 1% * $j;
        }
        .h-sm-#{$j}{
            height: 1% * $j;
        }
        .min-h-sm-#{$j}{
            min-height: 1% * $j;
        }
        .max-h-sm-#{$j}{
            max-height: 1% * $j;
        }
    }

    @include media-max(450px){
        .w-xsm-#{$j}{
            width: 1% * $j; 
        }
        .min-w-xsm-#{$j}{
            min-width: 1% * $j;
        }
        .max-w-xsm-#{$j}{
            max-width: 1% * $j;
        }
        .h-xsm-#{$j}{
            height: 1% * $j;
        }
        .min-h-xsm-#{$j}{
            min-height: 1% * $j;
        }
        .max-h-xsm-#{$j}{
            max-height: 1% * $j;
        }
    }

    $j: $j + 5; 
     
}