footer {
    height: 54.2rem;
    background-color: $white;

    @include flex-center;
    // margin-bottom: 5rem;
    h1 {
        text-transform: uppercase;
        color: $black;
        font-size: 6rem;
        text-align: center;
    }
}
