header {
    padding: 5.4rem 0;
    .logo-block {
        @include card(12rem,auto,0,static);
    }
    .main-menu {
        gap: 1.5rem 6rem;
        .items {
            .link {
                @include Font(2rem,500,2.4,capitalize,$black,$Rubik);
                @include transition;
                &:hover,&.active,&:focus {
                    color: $primary;
                }
            }
        }
    }
}
